/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
      display: block;
  }
  body {
      line-height: 1;
    font-size:16px;
  }
  ol, ul {
      list-style: none;
  }
  blockquote, q {
      quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
      content: '';
      content: none;
  }
  table {
      border-collapse: collapse;
      border-spacing: 0;
  }
  a {
    text-decoration: none;
  }
  
  /*
  ================================
  HEADER
  ================================
  */
  
  header {
    float: left;
    width: 16rem;
    padding: .5% 1% ;
  }
  
  header nav {
    margin: 10% 0;
  }
  
  header  ul li a {
    color: #000000;
  }
  
  header  ul li {
    margin: 8% 0;
  }
  
  header nav ul li a {
    font-size:1.5rem;
  }
  header  ul li a:hover {
    color: #FCC008;
  }
  header > ul li:nth-child(1) > a {
    color: #FCC008;
    font-size:1.2rem;
    
  }
  
  /*
================================
MAIN SECTION
================================
*/

main {
  float: left;
}
main > section {
  width: 50vw;
  height: 80vh;
  float: left;
}
main > section > h1 {
  font-size: 3.4rem;
  margin-bottom: 1%; 
  
}

main > section > img{
  margin: 3% 0; 
}
span { 
  display:block
}

main section span {
  font-size: 1.3rem;
}
main aside {
  width: 35vw;  
  height: 50vh;
  float: left;
}

main aside section {
  padding: 3% 0 1% 0;
  border-bottom: 2px solid;
  
}
main aside section h2 {
  font-size: 2.5rem;
}


/*
================================
Second SECTION
================================
*/

section main {
  float:right;
  width: 86.3vw;
}

section > main > article {
  padding-bottom: 12px;
  padding-top: 5px;
  border-bottom: 1px solid;
  height: 30vh;
}

section > main > article >section {
  width: 33.333%;
  float: left;
}

section > main > article >section > p {
  font-size: 1.5rem;
}

section > main > article >section > h5 {
  font-size: 2.5rem;
}